.portfolio {
  position: relative;
  .animate-circle {
    left: -250px;
    bottom: 50px;
  }
  .paragraph {
    top: 150px;
    left: -30px;
    &:before {
      content: '02';
    }
  }
  .tittle {
    P {
      width: 475px;
    }
  }

  &__gallery {
    height: 800px;
    margin-left: 70px;
    display: flex;
    flex-flow: column wrap;
    &--item {
      width: 450px;
      padding: 3px;
      box-sizing: border-box;
      img {
        max-width: 100%;
        height: 100%;
      }
    }
  }
}