.results {
  position: relative;
  width: 100%;
  color: $black;
  overflow: hidden;
  padding: 50px 0 100px;
  .paragraph {
    top: 120px;
    &:before {
      content: '01';
    }
  }
  .tittle {
    p {
      width: 600px;
    }
  }
  &__content {
    position: relative;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    &--left {
      position: relative;
      width: 55%;
      h3 {
        font-family: $GilroyMedium;
        font-size: 24px;
        &:after {
          content: '!';
          color: $red;
          margin-left: 5px;
        }
      }
      p {
        font-family: $GilroyRegular;
        font-size: 14px;
        color: $darkGrey;
        b {
          font-family: $GilroyExtrabold;
          color: $black;
        }
      }
    }
    &--right {
      position: relative;
      width: 40%;
      padding: 0;
      margin: 60px 0 0;
      li {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
        img {
          width: 50px;
          object-fit: cover;
        }
        p {
          font-family: $GilroyMedium;
          font-size: 25px;
          color: $black;
          width:calc(100% - 80px);
          margin: 0;
          line-height: 25px;
          span {
            font-family: $GilroyExtrabold;
            color: $red;
            text-transform: uppercase;
          }
        }
      }
    }
  }

  .animate-circle {
    right: -250px;
    top:50px;
  }
}